<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878841852216-vqvp3m0siqnq6v5ck7s2t9fmepbs0v82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878841852216-vqvp3m0siqnq6v5ck7s2t9fmepbs0v82</string>
	<key>API_KEY</key>
	<string>AIzaSyBP8MtAFGiDf_We67iRiwaDTLyVlrPLgp0</string>
	<key>GCM_SENDER_ID</key>
	<string>878841852216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siphlo.sobar</string>
	<key>PROJECT_ID</key>
	<string>zober-246506</string>
	<key>STORAGE_BUCKET</key>
	<string>zober-246506.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878841852216:ios:792964bbc517b35d24d1cd</string>
	<key>DATABASE_URL</key>
	<string>https://zober-246506.firebaseio.com</string>
</dict>
</plist>